@import "styles/bootstrap.module.scss";
@import "styles/variables.module.scss";

.contest {
  display: grid;

  grid-template-areas:
    "title"
    "logo"
    "info"
    "medals"
    "tasks"
    "results";
  row-gap: $row-gap;
  column-gap: $column-gap;

  @include media-breakpoint-up(sm) {
    grid-template-areas:
      "title title"
      "logo info"
      "medals medals"
      "tasks tasks"
      "results results";
    grid-template-columns: $contest-image-width auto;
  }
  @include media-breakpoint-up(lg) {
    grid-template-areas:
      "title title title"
      "logo info medals"
      "tasks tasks tasks"
      "results results results";
    grid-template-columns: $contest-image-width $contest-info-width auto;
  }
}

.title {
  grid-area: title;
}

.logo {
  grid-area: logo;

  img {
    display: block;
    width: $contest-image-width;
    height: $contest-image-height;
    object-fit: contain;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }
}

.info {
  grid-area: info;
}

.medals {
  grid-area: medals;
}

.tasks {
  grid-area: tasks;
}

.results {
  grid-area: results;
}
