@import "styles/bootstrap.module.scss";
@import "styles/variables.module.scss";

.layout {
  display: grid;

  grid-template-areas:
    "title"
    "image"
    "info"
    "medals"
    "results";
  row-gap: $row-gap;
  column-gap: $column-gap;

  @include media-breakpoint-up(sm) {
    grid-template-areas:
      "title title"
      "image info"
      "medals medals"
      "results results";
    grid-template-columns: $contestant-image-width auto;
  }
  @include media-breakpoint-up(lg) {
    grid-template-areas:
      "title title title"
      "image info medals"
      "results results results";
    grid-template-columns: $contestant-image-width $contestant-info-width auto;
  }
}

.title {
  grid-area: title;
}

.image {
  grid-area: image;

  img {
    display: block;
    width: $contestant-image-width;
    height: $contestant-image-height;
    object-fit: cover;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }
}

.info {
  grid-area: info;
}

.medals {
  grid-area: medals;
}

.tasks {
  grid-area: tasks;
}

.results {
  grid-area: results;
}
