.container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.navbarLink {
    padding: 0.2rem 0.5rem;
    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        transition: color 0.2s;

        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }
}
