@import "styles/bootstrap.module.scss";

.wrapper {
  // hack: this makes sure that with small screens the table will not grow the wrapper
  @include media-breakpoint-down(sm) {
    max-width: calc(100vw - 4 * var(--bs-gutter-x, 0.75rem));
  }
  @include media-breakpoint-only(sm) {
    max-width: calc(540px - 4 * var(--bs-gutter-x, 0.75rem));
  }
  padding: 0;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 700px;

  & > thead {
    background-color: #28a745;
    color: white;

    & > tr > th {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }

  & > tbody {
    border-top: none !important;

    tr {
      height: 52px;

      td {
        vertical-align: middle;
      }
    }
  }
}

.medal {
  text-align: center;
  & > * {
    margin: 0 auto;
  }
}

.region {
  text-align: center;
}
