@import "styles/bootstrap.module.scss";

.navigation {
  $nav-size: 8rem;

  display: grid;
  gap: 1rem;
  align-items: center;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "previous next";

  a {
    text-decoration: none;
  }

  h1 {
    grid-area: title;
  }

  .previous {
    grid-area: previous;
    text-align: left;
  }

  .next {
    grid-area: next;
    text-align: right;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: $nav-size 1fr $nav-size;
    grid-template-areas: "previous title next";
  }
}
