// size of the logo of a contest
$contest-image-width: 125px;
$contest-image-height: 125px;

// width of the info of a contest
$contest-info-width: 400px;

// size of the logo of a task
$task-image-width: 125px;
$task-image-height: 125px;

// width of the info of a taks
$task-info-width: auto;

// size of the image of a user
$contestant-image-width: 125px;
$contestant-image-height: 125px;

// width of the info of a user
$contestant-info-width: 400px;

// standard gaps for grid-layout
$row-gap: 20px;
$column-gap: 30px;
