@import "styles/bootstrap.module.scss";
@import "styles/variables.module.scss";

.layout {
  display: grid;
  row-gap: $row-gap;
  column-gap: $column-gap;

  grid-template-areas:
    "title"
    "image"
    "info";
  grid-template-columns: auto;

  @include media-breakpoint-up(md) {
    grid-template-columns: $task-image-width $task-info-width;
    grid-template-areas:
      "title title"
      "image info";
  }
}

.title {
  grid-area: title;
}

.image {
  grid-area: image;

  img {
    display: block;
    width: $task-image-width;
    height: $task-image-height;
    object-fit: contain;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }
}

.info {
  grid-area: info;
}
